DOMAAIN_NAME=domain_name
MARIADB_DATABASE=mariadb_databse
WP_ADMIN_USER=admin_user_name

# MARIADB_ROOT_PASSWORD=root_password
# MARIA_PASSWORD=user_password
# WORDPRESS_DB_PASSWORD=WORDPRESS_DB_PASSWORD